@model IEnumerable<EntityLayer.Concrete.TBL_IDARI_PERSONEL>
@{
    ViewData["Title"] = "PersonelDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Oğretmenler</a></li>
                    <li class="breadcrumb-item active">Ogretmen detay</li>
                </ol>
            </div>
            <h4 class="page-title">Personel Detay</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <!-- project card -->
        @foreach (var item in Model)
        {

            <div class="card d-block">
                <div class="card-body">

                    <div class="float-sm-end mb-2 mb-sm-0">
                        <div class="row g-2">
                            <div class="col-auto">
                                <a href="tickets-list.html" class="btn btn-sm btn-link"><i class="mdi mdi-keyboard-backspace"></i> Back</a>
                            </div>
                            <div class="col-auto">
                                <select class="form-select form-select-sm form">
                                    <option selected="">Watch</option>
                                    <option value="1">Remind me</option>
                                    <option value="2">Close</option>
                                </select>
                            </div>
                        </div>
                    </div> <!-- end dropdown-->

                    <h4 class="mb-3 mt-0 font-18">Kaç aydır Aktif oldugnu gösterecek</h4>

                    <div class="clerfix"></div>

                    <div class="row">
                        <div class="col-md-4">
                            <!-- Ticket type -->
                            <label class="mt-2 mb-1">Personel Statü</label>
                            <p>
                                <i class='mdi mdi-ticket font-18 text-success me-1 align-middle'></i>@item.UNVAN
                            </p>
                            <!-- end Ticket Type -->
                        </div>
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Reported by -->
                            <label class="mt-2 mb-1">Kişisel Bilgiler:</label>
                            <div class="d-flex align-items-start">
                                <img src="\template\assets\images\users\user-2.jpg" alt="Arya S"
                                 class="rounded-circle me-2" height="24" />
                                <div class="w-100">

                                    <p>Ad-Soyad: @item.ADI @item.SOYADI</p>
                                    <p>Telefon: @item.TELEFON</p>
                                    <p>Mail: @item.MAIL</p>
                                    <p>Şifre: @item.SIFRE</p>
                                    <p>Kod: #@item.OZEL_KOD</p>



                                </div>
                            </div>
                            <!-- end Reported by -->
                        </div> <!-- end col -->

                        <div class="col-md-6">
                            <!-- assignee -->
                            <label class="mt-2 mb-1">Buraya ekleyen kişinin bilgileri gelicek:</label>
                            <div class="d-flex align-items-start">
                                <img src="\template\assets\images\users\user-10.jpg" alt="Arya S"
                                 class="rounded-circle me-2" height="24" />
                                <div class="w-100">
                                    <p> Thelma Fridley </p>
                                </div>
                            </div>
                            <!-- end assignee -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-md-6">
                            <!-- assignee -->
                            <label class="mt-2 mb-1">Kayıt Tarihi:</label>
                            <p>10 Feb 2020 <small class="text-muted">1:37 PM</small></p>
                            <!-- end assignee -->
                        </div> <!-- end col -->

                        <div class="col-md-6">
                            <!-- assignee -->
                            <label class="mt-2 mb-1">Güncellenme Tarihi:</label>
                            <p>13 Feb 2020 <small class="text-muted">4:09 PM</small></p>
                            <!-- end assignee -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Status -->
                            <label class="mt-2 form-label">Durum bilgileri eklenicek</label>
                            <div class="row">
                                <div class="col-auto">
                                    <select class="form-select form-select-sm">
                                        <option>Aktif</option>
                                        <option>Kapat</option>
                                        <option>Eklenme Sürecinde</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end Status -->
                        </div> <!-- end col -->

                        <div class="col-md-6">
                            <!-- Priority -->
                            <label class="mt-2 mb-1">Priority :</label>
                            <div class="row">
                                <div class="col-auto">
                                    <select class="form-select form-select-sm">
                                        <option>Low</option>
                                        <option selected>Medium</option>
                                        <option>High</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end Priority -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                    <label class="mt-4 mb-1">Overview :</label>

                    <p class="text-muted mb-0">
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up.
                    </p>

                </div> <!-- end card-body-->

            </div> <!-- end card-->
        }

    </div>
</div>